* {
    box-sizing: border-box;
}

body {
    background-color: #fff8e0;
    color: #fff;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
}

.fixed-header {
    /* position: fixed; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fe585f;
}

.container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.results {
    margin: 60px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #462415;
}

.flex {
    display: flex;
}

input,
button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px #fce2d8 solid;
}

input[type="text"] {
    width: 350px;
}

.search-btn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    border: 1px #fce2d8 solid;
    color: #fe585f;
}

.random-btn {
    cursor: pointer;
    border-radius: 20px;
    width: auto;
    background-color: #fff;
    border: 1px #fce2d8 solid;
    color: #fe585f;
}

input:hover {
    font-weight: bold;
    color: #fe585f;
    border: 2px #fce2d8 solid;
}

button:hover {
    background-color: rgba(252, 226, 216, 1);
    border: 2x #fce2d8 solid;
    
}

.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    position: relative;
}

.meal {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
    float: top;
}

.meal img {
    width: 100%;
    height: 100%;
    border: 4px #fcecd8 solid;
    border-radius: 5px;
    box-shadow: 0 0 15px #a9a5a5;
   
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(252, 226, 216, 0.851);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.meal:hover .meal-info {
    opacity: 1;
    border-radius: 5px;
   
}

.single-meal {
    margin: 30px auto;
    width: 70%;
}

.single-meal img {
    width: 300px;
    margin: 15px;
    border: 4px #fcecd8 solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #a9a5a5;
   
}

.single-meal-info {
    margin: 20px;
    padding: 10px;
    border: 2px #fe585f dashed;
    border-radius: 5px;
    font-weight: bold;
    
}

.single-meal p {
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
    
}

.single-meal ol {
    padding-left: 0;
    list-style-type: none;
}

.single-meal ol li {
    border: 1px #ededed solid;
    border-radius: 10px;
    background-color: #fcecd8;
    display: inline-block;
    color: #2d2013;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px 5px 0;
}

@media(max-width: 800px) {
    .meals {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 700px) {
    .results {
        margin: 80px auto;
    }
    .meals {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal {
        height: 200px;
        width: 200px;
    }
}

@media(max-width: 500px) {
    input[type="text"] {
        width: 100%;
    }

    .meals {
        grid-template-columns: repeat(1, 1fr);
    }

    .meal {
        height: 300px;
        width: 300px;
    }
}