:root{
    --primaryFont: 'Source Sans Pro', sans-serif;
    --strongBlack: #07090D;
    --white: #FFF;
    --oragne: #FE7A15;
    --strongGrey: #363637;
    --softBlue: #F4F5F8;
    --placeHolderColor: #707071;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primaryFont);
}

body{
    font-size: 1.6rem;
    margin: 10px;
    margin-top: 15px;
}

/* Global */
a{

}

li{
    list-style: none;
}

/* Header */
header{
    width: 100%;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__list{
    display: grid;
    place-content: center;
    cursor: pointer;
}

.shopping-cart{
    position: relative;
    margin-right: 10px;
}

.shopping-cart__num-items{
    position: absolute;
    background-color: var(--oragne);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: var(--white);
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    padding-top: 1px;
    top: -3px;
    right: -3px;
}

.icon-menu,
.icon-shopping-cart{
    width: 33px;
    height: fit-content;
}

.icon-location{
    width: 23px;
    height: fit-content;
    padding-right: 5px;
}

.user-location{
    background-color: var(--oragne);
    border-radius: 20px;
    color: white;
    padding: 5px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */


/* Section - Search */
.search-content{
    margin-top: 37px;
    width: 100%;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    width: 240px;
    margin: 0 auto;
    color: var(--oragne);
    font-weight: bold;
}

#search div{
    margin-top: 20px;
    position: relative;
}

.icon-search,
#btnSearchSettings{
    position: absolute;
}

.icon-search{
    left: 15px;
}

.icon-search{
    top: calc(50% - 19px);
}

#btnSearchSettings{
    top: calc(50% - 23px);
}

.icon-search,
.icon-search-settings{
    width: 25px;
    height: fit-content;
}

.icon-search-settings{
    display: grid;
    place-self: center;
    margin: 5px;
}

#btnSearchSettings{
    right: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

#search #txtReceta{
    width: 100%;
    height: 50px;
    padding-left: 55px;
    font-size: 1.6rem;
    outline: none;
    background-color: var(--softBlue);
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
}

:-ms-input-placeholder { color: var(--placeHolderColor) } /* IE 10+ */
::-webkit-input-placeholder { color: var(--placeHolderColor) } /* WebKit */
::-moz-placeholder { color: var(--placeHolderColor) } /* Firefox 19+ */

#btnBuscarReceta{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--oragne);
    color: var(--white);
    font-weight: bold;
}

#btnBuscarReceta:hover{
    background-color: #fca664;
}

/* Dishes */

.dishes-content{
    margin-top: 40px;
}

.dishes-content h2{
    font-size: 2rem;
}

.dish-img{
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.dish-img:hover{
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    transform: rotate(5deg);
}

.rotate{
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    transform: rotate(5deg);
}

.dishes{
    margin-top: 20px;
    width: 100%;
}

.dish{
    display: grid;
    grid-template-columns: 1fr 160px;
    place-items: center;
    border: 2px solid rgba(203, 203, 203, 0.341);
    margin: 0 5px 30px 5px;
    padding: 15px;
    border-radius: 9px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.29);
}

.dish:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.dish__data{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 10px;
    height: 160px;
    padding: 20px 0;
}

.dish__data li,
.dish__data li p{
    height: fit-content;
}

.dish__data__name{
    color: #505050;
    font-size: 2rem;
    font-weight: bold;
}

.dish__data__list{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #8C8C8C;
}

.icon-place, .icon-kitchen{
    height: fit-content;
    width: 20px;
    margin-right: 5px;
}
